:root {
    --color-primary-100: #FFF9EA;
    --color-primary-200: #FFF3D4;
    --color-primary-300: #FFEAB8;
    --color-primary-400: #FFE0A1;
    --color-primary-500: #FFD67D;
    --color-primary-600: #FFCD5A;
    --color-primary-700: #FFC33A;
    --color-primary-800: #FFB81D;
    --color-primary-900: #FBA81F;

    --color-neutral-0: #FFFFFF;
    --color-neutral-100: #F7F7F7;
    --color-neutral-200: #E1E1E1;
    --color-neutral-300: #CFCFCF;
    --color-neutral-400: #B1B1B1;
    --color-neutral-500: #919191;
    --color-neutral-600: #727272;
    --color-neutral-700: #525252;
    --color-neutral-800: #383838;
    --color-neutral-900: #000000;
}

.bg-primary-100 {
    background-color: var(--color-primary-100);
}

.bg-primary-200 {
    background-color: var(--color-primary-200);
}

.bg-primary-300 {
    background-color: var(--color-primary-300);
}

.bg-primary-400 {
    background-color: var(--color-primary-400);
}

.bg-primary-500 {
    background-color: var(--color-primary-500);
}

.bg-primary-600 {
    background-color: var(--color-primary-600);
}

.bg-primary-700 {
    background-color: var(--color-primary-700);
}

.bg-primary-800 {
    background-color: var(--color-primary-800);
}

.bg-primary-900 {
    background-color: var(--color-primary-900);
}

.text-primary-100 {
    color: var(--color-primary-100);
}

.text-primary-200 {
    color: var(--color-primary-200);
}

.text-primary-300 {
    color: var(--color-primary-300);
}

.text-primary-400 {
    color: var(--color-primary-400);
}

.text-primary-500 {
    color: var(--color-primary-500);
}

.text-primary-600 {
    color: var(--color-primary-600);
}

.text-primary-700 {
    color: var(--color-primary-700);
}

.text-primary-800 {
    color: var(--color-primary-800);
}

.text-primary-900 {
    color: var(--color-primary-900);
}

.bg-neutral-0 {
    background-color: var(--color-neutral-0);
}

.bg-neutral-100 {
    background-color: var(--color-neutral-100);
}

.bg-neutral-200 {
    background-color: var(--color-neutral-200);
}

.bg-neutral-300 {
    background-color: var(--color-neutral-300);
}

.bg-neutral-400 {
    background-color: var(--color-neutral-400);
}

.bg-neutral-500 {
    background-color: var(--color-neutral-500);
}

.bg-neutral-600 {
    background-color: var(--color-neutral-600);
}

.bg-neutral-700 {
    background-color: var(--color-neutral-700);
}

.bg-neutral-800 {
    background-color: var(--color-neutral-800);
}

.bg-neutral-900 {
    background-color: var(--color-neutral-900);
}

.text-neutral-0 {
    color: var(--color-neutral-0);
}

.text-neutral-100 {
    color: var(--color-neutral-100);
}

.text-neutral-200 {
    color: var(--color-neutral-200);
}

.text-neutral-300 {
    color: var(--color-neutral-300);
}

.text-neutral-400 {
    color: var(--color-neutral-400);
}

.text-neutral-500 {
    color: var(--color-neutral-500);
}

.text-neutral-600 {
    color: var(--color-neutral-600);
}

.text-neutral-700 {
    color: var(--color-neutral-700);
}

.text-neutral-800 {
    color: var(--color-neutral-800);
}

.text-neutral-900 {
    color: var(--color-neutral-900);
}