#breadcrumbs {
    padding: 24px 5%;
    background-color: var(--color-neutral-0);
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 0px;
}

#details_banner {
    width: 100%;
    height: 100%;
}

.details-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#content {
    display: flex;
    justify-content: space-between;
    padding: 24px 5%;
    gap: 24px;
    background-color: var(--color-neutral-100);
}

#products_content {
    width: 70%;
    background-color: var(--color-neutral-0);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

#product_images {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-miniature {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border: 1px solid var(--color-neutral-300);
    border: 1px solid var(--color-neutral-300);
    border-radius: 8px;
}

.product-miniature img {
    width: 50px;
    height: 100%;
    object-fit: cover;
}

#principal_image {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#principal_image img {

    object-fit: contain;
}

#products_details {
    width: 30%;
}

.product-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
}

.size-item {
    padding: 8px 23px;
    border: 1px solid var(--color-neutral-300);
    border-radius: 20px;
}

#sales_content {
    width: 30%;
    background-color: var(--color-neutral-0);
    border-radius: 20px;
}